apiVersion: v1
kind: PersistentVolume
metadata:
  namespace : mallickshop
  name: mongodb-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/mongodb
  persistentVolumeReclaimPolicy: Retain
